html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  background-color: #ccc;
}

h1 {
  color: #000;
  font-style: bold;
  text-align: center;
}

ul > li {
  display: flex;
  align-items: flex-start;
}

img {
  max-width: 5rem;
  margin-bottom: 1.5rem;
}

a {
  background-color: #444;
  color: #fff;
  text-decoration: none;
  padding: .5rem 1rem .6rem;
  font-size: 1rem;
}
